:root {
    --time: 5s;
    --gap: 0px;
    --field-size : 9vw;
    --field-color : rgb(6, 28, 41);
    --field-hover : rgb(122, 203, 253);
}

html, body {
    height: 100%;
    padding : 0;
    margin  : 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* sections */

nav {
    position: fixed;
    display: grid;
    grid-template-columns: 2rem auto;
    width: 100%;
    padding: 0.5rem;
    z-index: 10;
}

header {
    background: url("/src/image/test.webp") no-repeat center/cover;
    height : 110%;
    overflow: hidden;
    color: white;
    text-shadow: 0px 0px 1px black;
    display: grid;
    position: relative;

    &> video{
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;

        margin: 0 !important;
        isolation: isolate;
        z-index: -1;
    }

    &> :first-child {
        position: absolute;
        display: grid;
        z-index: 2;
        margin: 4rem;
        &>button {
            place-self: center;
        }
    }

    &>#scene {
        position: absolute;
        display: grid;
        place-items: center;
        place-content: center;
        right: 0;
        width: 60%;
        height: 120%; 
        perspective: 1000px;
        z-index: 0;

        &>video {
            position : absolute;
            transform-style: preserve-3d;
            transform: rotateY(-33deg);
            aspect-ratio: 16/9;
            width: 700px;
        }
        &>video:first-child {
            filter: blur(100px) brightness(3);
        }
    }

    &>#blocksberg {
        position: absolute;
        top : calc(var(--field-size) * -0.6);
        left: calc(var(--field-size) * -0.15);
        display: grid;
        grid-template-columns: repeat(12, auto);
        gap: var(--gap);
        place-content: center;
        place-items: center;

        width: 100vw;
        height: 100vh;
        
        --ratio: 1;
        --offset: 0%;

        --x-offset: 0px;
        --y-offset: 0px;

        z-index: 5;
    
        &>.hex {
            position:relative;
            display: grid;
            place-content: center;
            place-items: center;
            width: var(--field-size);
            scale: 1.03;
            /* margin: 0 calc(-1 * var(--field-size) / 4); */
            animation: move var(--time) var(--delay) cubic-bezier(.81,1.02,.89,1) both;
            &.--static {
                animation: none;
                polygon  {
                    fill: var(--field-color);
                    animation: none !important
                }

            }

            /* &::after {
                content: attr(data-index);
                font-size: 2rem;
                font-weight: bold;
                position: absolute;
                color: white;
            } */

            svg {
                width: calc(var(--field-size) * 1.31);
            
                polygon {
        
                    fill: var(--field-color);
                    transition : all 2s;
                    animation:  glow 1s calc(var(--time) + var(--delay));

                }
                path:hover {
                    /* fill: var(--field-hover); */
                    filter: brightness(3);
                    transition: all 0.2s;
                }

                /* &:hover {
                    transform: translateY(-2px) scale(105%);
                    transition : all 0.1s;
                } */
            }

        &:nth-child(even) {
                /* top: calc(((var(--field-size) / 2) + var(--gap) / 2 + var(--offset) / 2) / var(--ratio));
                top: calc(var(--field-size) / 2 * var(--ratio) + var(--gap) / 2); */
                /* top: calc(var(--field-size) / 2 + var(--gap) / 2) */
                translate: 0 50%;
            }
        }
    }
}


main {
    background-color: var(--field-color);
    min-height : 100%;
    /* overflow: scroll; */
    
    &>#cinema {
        display: grid;
        place-content: center;
        place-items: center;
        width: 100vw;
        height: 100vh;
        background-image: radial-gradient(rgb(10, 10, 10) 0%, var(--field-color) 60%);

        &>video {
            position: absolute;
            height: 60%;
            border: ridge 4px rgba(0, 0, 0, 0.075);
            border-radius: 6px;
            
        }
        
        &>video:first-child {
            box-shadow: 0px 0px 5px 20px rgba(201, 252, 255, 0.1);
            filter: blur(30px);
        }
    }
    
    
}

footer {
    box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.121);
    height: 8rem;
    border-radius: 6px !important;
}

/* elements */

h2 {
    margin-top : 0;
}

.xdiv {
    text-align: center;
    max-width: 16rem;

    & > h1 {
        margin-top : 0;
    }
}

/* keyframes */

@keyframes move {
    from {
        transform: translate(var(--x), var(--y));
    }
}

@keyframes glow {
    10% {
        fill : var(--field-hover);
    };
    85% {
        fill: var(--field-color);
    }
}

@keyframes blur {
    70% {
        filter: blur(4px);
    }
}

@keyframes identifier {
    to {
        transform: rotateY(-10deg);
    }
}
